<header><h1>List of Products</h1></header>


<div class="product-container" *ngFor="let product of products">
    <img class="product-image" src={{product.image}} alt="Product Image">
    <div class="product-details">
        <p> <strong>Title: </strong>{{product.title}}</p>
        <p><strong>Price: </strong>{{product.price}}</p>
        <p><strong>Category: </strong>{{product.category}}</p>
        <p><strong>Rating: </strong>{{product.rating.rate}}</p>
        <button class="delete" (click)="delete(product)">Delete</button>
        <button class="delete" (click)="edit(product)">Delete</button>
    </div>
    <div class="product-description">
        <p><strong>Description: </strong>{{product.description}}</p>
    </div>
</div>
